h1{
    color:grey;
}
img{
    width: 400px;
}
#thirdDiv{
    
    height: 600px; width: 500px;
    background-color: chocolate;
    padding: 50px;
    border: 5px solid;
    border-color: red;
}
#spanId{
    font-size: 18px;
    margin: 50px;
    position: relative;
    left: -48px;
    }
#Centro{
    position: relative;
    left: 650px;
    background-color: yellow;
    width: 610px;
    
}
body{
    background-image:url(../../Imagenes/peakpx.jpg);
    background-size: 700px  ;
    
}
