h1{
    font-size: 40px;
    position: relative;
    left: 180px;
    top: -160px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
    position: relative;
    left: 185px;
    top: -180px;
   
}
h4{
    font-size: 22px;
    color: white;
}
p{
    font-size: 20px;
    color:white;
}
header{
    background-color: #ffc300;
    height: 155px;
    border:solid crimson;
   
}
section{
    position: relative;
    background-color:#52BE80 ;
    position: relative;
    
    border: solid #7DCEA0;
}
body{
    position: relative;
    background-color:#34495E ;
    
}
#Tamaño{
    position: relative;
   left: 160px;
}
footer	{
    background-color: #E74C3C;
    border: solid red;
    position: relative;
    height:40px;
}
#Iconos{
    position: relative;
    left: 190px;
    top: -80px;
}
#Position{
    position: relative;
    top: -22px;
}
